---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Graduate</h2>
======
<ul>
  <li>Duke Univeristy</li>
</ul>

<h2>Undergraduate</h2>
======
<ul>
  <li>Haverford College</li>
  <ul>
    <li>CMSC340: Analysis of Algorithms</li>
    <li>CMSC218: Probability</li>
    <li>STAT210: Linear Optimization</li>
  </ul>
  
  <li>University of Pennsylvania</li>
  <ul>
    <li>CIS551: Computer and Network Security</li>
  </ul>
</ul>