---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Graduate</h2>
======
<ul>
  <li><b>Duke Univeristy</b></li>
</ul>

<h2>Undergraduate</h2>
======
<ul>
  <li><b>Haverford College</b></li>
  <ul>
    <li>CMSC340: Analysis of Algorithms</li>
    <li>CMSC210: Linear Optimization</li>
    <li>CMSC107: Introduction to Computer Science and Data Structures</li>
    <li>STAT218: Probability</li>
    <li>STAT203: Statistical Methods</li>
  </ul>

  <li><b>University of Pennsylvania</b></li>
  <ul>
    <li>CIS551: Computer and Network Security</li>
  </ul>
</ul>